<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<connectionStrings><add name="ProjektDesktopyEntities" connectionString="metadata=res://*/Models.Entities.ModelAplikacji.csdl|res://*/Models.Entities.ModelAplikacji.ssdl|res://*/Models.Entities.ModelAplikacji.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAROL-PC\SQL1;initial catalog=ProjektDesktopy;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" /></connectionStrings>
</configuration>