<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjektTIUEntities" connectionString="metadata=res://*/Models.Entities.ModelFirma.csdl|res://*/Models.Entities.ModelFirma.ssdl|res://*/Models.Entities.ModelFirma.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=KAROL-PC\SQL1;initial catalog=ProjektTIU;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>